<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OutlookInterop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FPBInteropConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <OutlookInterop.Properties.Settings>
      <setting name="WufooSenderEmail" serializeAs="String">
        <value>"no-reply@wufoo.com"</value>
      </setting>
      <setting name="MagentoSenderEmail" serializeAs="String">
        <value>secureorders@fergusonplarre.com.au</value>
      </setting>
    </OutlookInterop.Properties.Settings>
  </userSettings>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="FPBInterop" switchValue="Verbose">
        <listeners>
          <add name="mainTraceListener"/>
          <!--<add name="logTraceListener"/>-->
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="FPBInterop.ConsoleApp" switchValue="Verbose">
        <listeners>
          <add name="mainTraceListener"/>
          <!--<add name="logTraceListener"/>-->
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="mainTraceListener" type="FPBInterop.NoHeaderTraceListener, FPBInterop">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
      </add>
      <!--<add name="logTraceListener" type="FPBInterop.NoHeaderLogListener, FPBInterop" initializeData="./log.txt">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
      </add>-->
    </sharedListeners>
  </system.diagnostics>
  
  <applicationSettings>
    <FPBInteropConsole.Properties.Settings>
      <setting name="WufooSenderEmail" serializeAs="String">
        <value>"no-reply@wufoo.com"</value>
      </setting>
      <setting name="MagentoSenderEmail" serializeAs="String">
        <value>secureorders@fergusonplarre.com.au</value>
      </setting>
    </FPBInteropConsole.Properties.Settings>
  </applicationSettings>
</configuration>